<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>L&iacute;nea de Transmisi&oacute;n Congestionada - FU</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="../../img/osinerg.ico">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <tr>
            <td class="bg-primary text-center" colspan="4">
              <h4>L&iacute;nea de Transmisi&oacute;n Congestionada</h4>
            </td>
          </tr>
          <tr>
            <td class="bg-success text-center" colspan="4"><span id="central_t"></span></td>
          </tr>
          <tr>
            <td colspan="4">
              <div id="grafico" style="width:100%; height:300px;"></div>
            </td>
          </tr>
          <tr>
            <td class="info" width="25%">Empresa</td>
            <td width="25%"><span id="empresa_t"></span></td>
            <td class="info" width="25%">Longitud</td>
            <td width="25%"><span id="unidad_t"></span> Km</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

  <script src="https://js.arcgis.com/4.14/"></script> <!-- ADDED -->

  <script>
    define([
      "esri/tasks/QueryTask",
      "esri/tasks/support/Query"
    ], function (
      QueryTask,
      Query
    ) {
      let url_service = 'https://gisem.osinergmin.gob.pe/serverosih/rest/services/Electricidad/MapaSEIN_Alerta_Det/MapServer/9';
      let cod_lt = getURL('cod_lt', '');
      cod_lt = atob(cod_lt);
      if (cod_lt == '') {
        bootbox.alert({
          message: "No se ha propordinado informacion suficiente.",
          callback: function () {
            close();
          }
        })
      }

      /*QUERY AL SERVICIO*/

      let _queryt = new QueryTask({ url: url_service });
      let _qparams = new Query();

      _qparams.where = `COD_LINEA = '${cod_lt}'`;
      _qparams.outFields = `COD_LINEA, NOMBRE, EMPRESA, TENSION, LONGITUD, ANIO, PERIODO, MES, FU `;
      _qparams.orderByFields = `ANIO, MES`;
      _qparams.returnGeometry = false;

      _queryt.execute(_qparams).then(function (response) {
        let nreg = response.features.length;
        let features = response.features;
        let attributes = features[0].attributes;
        let unidad = attributes.LONGITUD;
        let central = attributes.TENSION + ' KV ' + attributes.NOMBRE + ' (' + attributes.COD_LINEA + ')';
        let empresa = attributes.EMPRESA;

        let datos = [];
        for (let i = 0; i < nreg; i++) {
          let feature = features[i].attributes;
          datos.push({
            date: zeroPad(feature.MES, 2) + "-" + feature.ANIO,
            indice: Math.round(feature.FU * 10000) / 100
          });
        }

        let chart = AmCharts.makeChart("grafico", {
          "type": "serial",
          "theme": "light",
          "autoMargins": false,
          "marginLeft": 70,
          "marginBottom": 25,
          "marginTop": 10,
          "marginRight": 17,
          "dataProvider": datos,
          "legend": {
            "horizontalGap": 10,
            "useGraphSettings": true,
            "markerSize": 10
          },
          "valueAxes": [{
            "unit": "%",
            "title": "FU [%]",
            "axisAlpha": 0.5,
            "position": "left",
            "minimum": 0,
            "guides": [{
              "fillAlpha": 1,
              "fillColor": "#00FF00",
              "lineAlpha": 0,
              "value": 98 * 0.999,
              "toValue": 98 * 1.001
            }]
          }],
          "graphs": [{
            "id": "g1",
            "balloonText": "FU<br><b><span style='font-size:14px;'>[[value]]%</span></b>",
            "bullet": "round",
            "bulletSize": 8,
            "lineColor": "#FF0000",
            "lineThickness": 2,
            "negativeLineColor": "#637bb6",
            "negativeBase": 98,
            "valueField": "indice",
            "title": "FU"
          }],
          "chartScrollbar": {
            "scrollbarHeight": 2,
            "backgroundAlpha": 0.1,
            "backgroundColor": "#868686",
            "selectedBackgroundColor": "#888888",
            "selectedBackgroundAlpha": 0.4
          },
          "chartCursor": {
            "categoryBalloonDateFormat": "MMM YYYY",
            "cursorAlpha": 0.05,
            "cursorPosition": "middle",
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.5,
            "fullWidth": true
          },
          "dataDateFormat": "MM-YYYY",
          "categoryField": "date",
          "categoryAxis": {
            "minPeriod": "MM",
            "parseDates": true,
            "minorGridAlpha": 0.1,
            "minorGridEnabled": true
          },
          "export": {
            "enabled": true,
            "position": "bottom-left"
          }
        });

        $(document).on("mouseenter mouseleave", function () {
          $('a[href*="amcharts"]').remove();
        });

        $("#central_t").html('L.T. ' + central);
        $("#empresa_t").html(empresa);
        $("#unidad_t").html(unidad);

      }).catch(function (error) {
        console.log("Error al graficar: ", error);
      });
      
      // funciones de apoyo
      function getURL(e, a) {
        e = e.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var t = new RegExp("[\\?&]" + e + "=([^&#]*)").exec(location.search);
        return null === t ? a : decodeURIComponent(t[1].replace(/\+/g, " "))
      }

      function zeroPad(e, a) {
          var t = a - e.toString().length + 1;
          return Array(+(0 < t && t)).join("0") + e
      }

    });

  </script>
</body>

</html>