* {
    font-family: 'Roboto', sans-serif;
    font:800;
}


nav {
    background-color: #000090;
    height: 60px;
}

#centro01{
    /* height: 600px; */
}

body {
    max-width: 100%;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.rectangulo1 {
    background-color: #e20202;
    height: 80px;
    color: #fff; 
    padding: 20px;
    text-align: left;
    border-radius: 5px; 
    margin: 5px; 
    font-size: px;
}

.rectangulo2 {
    background-color: #ff7b00;
    height: 80px;
    color: #fff; 
    padding: 20px;
    text-align: left;
    border-radius: 5px; 
    margin: 5px; 
    font-size: px;
}

.rectangulo3 {
    background-color: #12973e;
    height: 80px;
    color: #fff; 
    padding: 20px;
    text-align: left;
    border-radius: 5px; 
    margin: 5px; 
    font-size: px;
}
