* {
    font-family: 'Roboto', sans-serif;
}

.NavPrim {
    background-color: #000090;
    height: 60px;
    color: white;
    align-items: center;    
}

.NavStyle{
    margin: 10px 0px 10px 80px;
    font-size: 25px;
    font-weight: bold;   
}

.StyleBody{
    height:calc((100vh) - 60px) !important; 
    width: 100% ;
}

.iconList li {
    display: flex;
    align-items: center;
}

.icon{
    color:#202020;
    width: 28px;
    height: 28px;
}

.iconText {
    padding: 8px;
    color:rgb(45, 45, 48);
    font-weight: bold;
    font-size:large;
} 

.custom-hint {
    background: rgba(0,0,0,.8);
    color: #fff;
    padding: 5px 10px 5px 10px;
    transition: transform 200ms ease,opacity 200ms;
    z-index: 1095000 !important
}

.custom-hint:after {
    border-top-color: #000;
    border-bottom: none;
    bottom: 101%;
    left: calc(50% - 6px);
    margin-bottom: 4px
}