<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="TimeOut" value="90" />
    <add key="wsPVOUsuario" value="cinterno" />
    <add key="wsPVOClave" value="CNSLTAS1NTRNAS17" />
  </appSettings>
  <connectionStrings>
    <add name="CELSAT" connectionString="DATA SOURCE=10.10.20.21:1521/ARCGIS;PASSWORD=28G1S1NTDS20;PERSIST SECURITY INFO=True;USER ID=GISINTDSR; " providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <webServices>
      <!--<sessionState timeout="90" />-->
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
	<staticContent>
		<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		<mimeMap fileExtension=".asmx" mimeType="text/xml" />
	</staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="InternalPortTypePortBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://scopws.osinergmin.gob.pe:443/scopws/paslaugos/InternalService" binding="customBinding" bindingConfiguration="InternalPortTypePortBinding" contract="wsPVO.InternalPortType" name="InternalPortTypePort" />
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: 14FE470F-5888-43CD-BEEE-E55279ED4DB0-->